<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Restaurant</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
  <div class="top-section d-flex-col">
    <div class="top bg-light p-3">
      <div class="d-flex justify-content-around align-items-center">
        <a href="https://icons8.com/icon/93Pyeq47Ij5z/taco">
          <img src="https://img.icons8.com/wired/64/000000/taco.png" />
        </a>
        <a href="https://icons8.com/icon/SjDF1-cb83WH/eights">
          <img src="https://img.icons8.com/wired/64/000000/eights.png" />
        </a>
        <a href="https://icons8.com/icon/98811/noodles">
          <img src="https://img.icons8.com/wired/64/000000/noodles.png" />
        </a>
        <a href="https://icons8.com/icon/98765/brezel">
          <img src="https://img.icons8.com/wired/64/000000/bavarian-pretzel.png" />
        </a>
        <a href="https://icons8.com/icon/uE3Pc88DxdYF/melting-ice-cream">
          <img src="https://img.icons8.com/wired/64/000000/melting-ice-cream.png" />
        </a>
        <a href="https://icons8.com/icon/98787/italian-pizza">
          <img src="https://img.icons8.com/wired/64/000000/italian-pizza.png" />
        </a>
      </div>
  
  
    </div>
    <div class="down bg-dark d-flex justify-content-center">
      <p class="text-light font-weight-bold align-self-center" style="font-size: 45px;">My Restaurant List</p>
    </div>
  </div>
  <div class="body-section bg-light p-5 row d-flex justify-content-center">
    {{{body}}}
  </div>

  
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>